@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");
@media (max-width: 1200px) {
  body .nft .home-title__item {
    font-size: 3.5rem;
  }
  body .nft .home-title__description {
    font-size: 1.2rem;
  }
}
@media (max-width: 992px) {
  body .header .nav-logo {
    font-size: 1.5rem;
  }
  body .header .nav-menu__item {
    font-size: 1rem;
    margin-left: 25px;
  }
  body .nft .home-title {
    max-width: 100%;
  }
  body .nft .home-title__item {
    font-size: 3.5rem;
  }
  body .nft .home-title__description {
    font-size: 1.2rem;
  }
  body .nft .home-title__eth {
    width: 5%;
    height: auto;
    top: -10%;
    right: 10%;
    z-index: -1;
  }
  body .nft .home-title__blue {
    width: 3%;
    height: auto;
    top: -15%;
    left: 10%;
    z-index: -1;
  }
  body .nft .home-title__orange {
    width: 3%;
    height: auto;
    bottom: 3%;
    left: 35%;
    z-index: -1;
  }
  body .nft .home-title__btc {
    width: 7%;
    height: auto;
    bottom: 10%;
    right: 15%;
    z-index: -1;
  }
  body .nft .home-images {
    display: none;
  }
  body .nft .investors {
    margin-top: 100px;
  }
  body .nft .investors__title {
    font-size: 1.2rem;
  }
  body .nft .mint__blue, body .nft .mint__pink, body .nft .mint__pink {
    z-index: -1;
  }
  body .nft .mint .card {
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .nft .mint .card .item {
    width: 75%;
  }
  body .nft .mint .card .item-text__title {
    font-size: 1.3rem;
  }
  body .nft .progress {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
  body .nft .progress-item {
    margin-top: 50px;
  }
  body .nft .progress-item__title {
    font-size: 3rem;
  }
  body .nft .progress-item__description {
    margin-top: 10px;
  }
  body .nft .about .content .info__title {
    font-size: 2.3rem;
  }
  body .nft .about .content .info .advances-item__number {
    font-size: 1.7rem;
  }
  body .nft .roadmap .cards .item__title {
    font-size: 1.3rem;
  }
  body .nft .faq .list {
    width: 75%;
  }
  body .title {
    font-size: 2.5rem;
  }
  body .button {
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  body .header .nav {
    padding: 10px 0;
  }
  body .header .nav-menu {
    position: fixed;
    display: block;
    left: -100%;
    top: 0;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    background-color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    z-index: 1;
  }
  body .header .nav-menu__item {
    margin: 25px 0;
    width: 100%;
  }
  body .header .nav-menu__item a {
    font-size: 2rem;
    display: block;
    width: 100%;
  }
  body .header .nav-menu__item:first-child {
    margin-top: 150px;
  }
  body .header .nav .button {
    display: none;
  }
  body .header .nav .hamb {
    display: block;
    z-index: 2;
  }
  body .header .nav .active .hamb__bar:nth-child(2) {
    opacity: 0;
  }
  body .header .nav .active .hamb__bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  body .header .nav .active .hamb__bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  body .header .activeNav {
    position: fixed;
    left: 0;
    top: 0;
  }
  body .nft .home {
    padding-top: 150px;
  }
  body .nft .home-title__item {
    font-size: 3rem;
  }
  body .nft .home-title__description {
    font-size: 1.1rem;
  }
  body .nft .investors__title {
    font-size: 1.1rem;
  }
  body .nft .investors .logos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .nft .investors .logos-link {
    margin-top: 50px;
  }
  body .nft .investors .logos-link__image {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  body .nft .mint .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .nft .mint .card .item-text__title {
    font-size: 1.2rem;
  }
  body .nft .progress-item__title {
    font-size: 2.5rem;
  }
  body .nft .about .content__image {
    display: none;
  }
  body .nft .about .content .info {
    background-color: #fff;
    padding: 25px;
    border-radius: 25px;
  }
  body .nft .about .content .info__title {
    font-size: 1.7rem;
    text-align: center;
  }
  body .nft .about .content .info__description {
    text-align: center;
  }
  body .nft .about .content .info .advances-item__number {
    font-size: 1.4rem;
    text-align: center;
  }
  body .nft .about .content .info .advances-item__text {
    text-align: center;
  }
  body .nft .roadmap .cards .item {
    height: 350px;
  }
  body .nft .roadmap .cards .item-top__circle {
    height: 35px;
    width: 35px;
  }
  body .nft .roadmap .cards .item-top__circle span {
    font-size: 1rem;
  }
  body .nft .roadmap .cards .item__title {
    font-size: 1.2rem;
  }
  body .nft .roadmap .cards .item__description {
    font-size: 0.9rem;
  }
  body .nft .artists .cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .nft .faq .list {
    width: 85%;
  }
  body .nft .faq .list-item__header {
    font-size: 1.2rem;
  }
  body .nft .join__eth {
    top: -45%;
  }
  body .nft .join__btc {
    bottom: -35%;
  }
  body .nft .join__circle {
    top: -25%;
  }
  body .nft .join__x {
    bottom: -15%;
  }
  body .nft .discover__eth {
    top: -15%;
  }
  body .title {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  body .nft .home-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .nft .home-title__item {
    font-size: 2.2rem;
    text-align: center;
  }
  body .nft .home-title__description {
    margin-top: 25px;
    font-size: 1rem;
    text-align: center;
  }
  body .nft .home-title__button {
    margin-top: 50px;
  }
  body .nft .investors .logos-link__image {
    width: 35%;
    height: auto;
  }
  body .nft .mint .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .nft .mint .card .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .nft .mint .card .item-text {
    margin-top: 25px;
  }
  body .nft .mint .card .item-text__title {
    font-size: 1rem;
  }
  body .nft .mint .card .item-text__description {
    font-size: 0.9rem;
  }
  body .nft .progress-item__title {
    font-size: 2rem;
  }
  body .nft .progress-item__description {
    font-size: 0.9rem;
  }
  body .nft .about .content .info__title {
    font-size: 1.3rem;
  }
  body .nft .about .content .info__description {
    font-size: 0.8rem;
  }
  body .nft .about .content .info .advances-item__number {
    font-size: 1.1rem;
  }
  body .nft .about .content .info .advances-item__text {
    font-size: 0.7rem;
  }
  body .nft .about .content .info .advances .item-image__image {
    padding: 5px;
  }
  body .nft .about .content .info .advances .item-image__image img {
    width: 30px;
    height: auto;
  }
  body .nft .about .content .info .advances .item-image__text {
    font-size: 0.7rem;
  }
  body .nft .works .cards {
    margin-top: 25px;
  }
  body .nft .works .cards-item {
    margin-top: 25px;
  }
  body .nft .works .cards-item__tag {
    font-size: 1rem;
  }
  body .nft .roadmap .cards .item-top__circle span {
    font-size: 0.9rem;
  }
  body .nft .roadmap .cards .item__title {
    font-size: 1.1rem;
  }
  body .nft .faq .list-item__header {
    font-size: 1.1rem;
  }
  body .nft .discover__description {
    font-size: 0.9rem;
  }
  body .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .footer-links__policy {
    font-size: 0.7rem;
  }
  body .footer-links__terms {
    margin-left: 0;
    margin-top: 15px;
    font-size: 0.7rem;
  }
  body .title {
    font-size: 1.5rem;
  }
  body .modal .item {
    width: 300px;
  }
  body .modal .item__title {
    font-size: 1.5rem;
  }
  body .modal .item .form__text, body .modal .item .form__email {
    font-size: 1.2rem;
  }
}
.button {
  border: 2px solid;
  border-radius: 20px;
  background-color: transparent;
  color: #0f051d;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 13px 25px;
}
.button:hover {
  background-color: #241b44;
  color: #fff;
}
.button:active {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 5, 29, 0.8);
  z-index: 1;
}
.modal .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: #fff;
  padding: 25px;
  width: 400px;
  height: auto;
  border-radius: 25px;
}
.modal .item__close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.modal .item__title {
  color: #0f051d;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}
.modal .item .form {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal .item .form__text, .modal .item .form__email {
  border: none;
  background-color: transparent;
  margin-top: 25px;
  width: 100%;
  height: 50px;
  outline: none;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  color: #0f051d;
  border-bottom: 1px solid #0f051d;
}
.modal .item .form__text:first-child, .modal .item .form__email:first-child {
  margin-top: 0;
}
.modal .item .form__button {
  margin-top: 25px;
}

.hidden {
  display: none;
}

.overflowHidden {
  overflow-y: hidden;
}

.title {
  color: #0f051d;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
}

.header {
  padding-left: 15px;
  padding-right: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header .nav-logo {
  color: #0f051d;
  font-weight: 700;
  font-size: 1.7rem;
}
.header .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .nav-menu__item {
  font-weight: 500;
  font-size: 1.1rem;
  margin-left: 45px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.header .nav-menu__item a {
  color: #0f051d;
}
.header .nav-menu__item:hover {
  opacity: 0.5;
}
.header .nav-menu__item:first-child {
  margin-left: 0;
}
.header .nav .hamb {
  display: none;
  cursor: pointer;
}
.header .nav .hamb__bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #0f051d;
}

.scroll-header-bg {
  background-color: #fff;
}

.hide-on-modal {
  z-index: 1;
}

.nft .home {
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nft .home-title {
  position: relative;
  max-width: 400px;
}
.nft .home-title__item {
  font-weight: 700;
  font-size: 4rem;
}
.nft .home-title__description {
  color: #d3d0da;
  font-weight: 500;
  font-size: 1.3rem;
  margin-top: 15px;
}
.nft .home-title__button {
  margin-top: 25px;
}
.nft .home-title__eth, .nft .home-title__blue, .nft .home-title__orange, .nft .home-title__x, .nft .home-title__btc {
  position: absolute;
}
.nft .home-title__eth {
  width: 10%;
  height: auto;
  top: -20%;
  right: 15%;
}
.nft .home-title__blue {
  width: 5%;
  height: auto;
  top: 25%;
  left: -10%;
}
.nft .home-title__orange {
  width: 10%;
  height: auto;
  bottom: -10%;
  right: 25%;
}
.nft .home-title__btc {
  width: 10%;
  height: auto;
  bottom: 10%;
  right: -15%;
}
.nft .home-images {
  position: relative;
  width: 100%;
  height: 400px;
}
.nft .home-images img {
  position: absolute;
}
.nft .home-images__drop {
  left: 15%;
  border-radius: 10px;
  width: 35%;
  height: auto;
}
.nft .home-images__man {
  left: 55%;
  top: 10%;
  border-radius: 10px;
  width: 35%;
  height: auto;
}
.nft .home-images__blop {
  width: 75%;
  height: auto;
  left: 50%;
  top: -15%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: auto;
  opacity: 0.5;
  z-index: -2;
}
.nft .home-images__blop-line {
  width: 60%;
  height: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.5;
  z-index: -1;
}
.nft .home-images__x {
  position: absolute;
  width: 4%;
  height: auto;
  top: -5%;
  right: 20%;
}

.nft .investors {
  margin-top: 175px;
}
.nft .investors__title {
  color: #d3d0da;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
}
.nft .investors .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nft .investors .logos-link {
  margin-top: 50px;
}
.nft .investors .logos-link__image {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  width: 75%;
  height: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.nft .investors .logos-link__image:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.nft .mint {
  margin-top: 100px;
  position: relative;
}
.nft .mint__blue {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 30%;
  top: 20%;
}
.nft .mint__pink {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 10%;
  bottom: 10%;
}
.nft .mint__x {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 5%;
  bottom: 25%;
}
.nft .mint .card {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.nft .mint .card .item {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
  border-radius: 25px;
  margin-left: 25px;
  margin-top: 25px;
  padding: 40px;
}
.nft .mint .card .item:nth-child(odd) {
  margin-left: 0;
}
.nft .mint .card .item__image {
  width: 45px;
  height: auto;
}
.nft .mint .card .item-text {
  margin-left: 25px;
}
.nft .mint .card .item-text__title {
  color: #0f051d;
  font-weight: 700;
  font-size: 1.5rem;
}
.nft .mint .card .item-text__description {
  color: #0f051d;
  margin-top: 15px;
}

.nft .progress {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.nft .progress__eth {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 30%;
  top: 0;
  z-index: -1;
}
.nft .progress__btc {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 30%;
  bottom: -25%;
  z-index: -1;
}
.nft .progress-item {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.nft .progress-item__title {
  color: #a67fff;
  font-weight: 700;
  font-size: 3.5rem;
}
.nft .progress-item__description {
  margin-top: 25px;
  color: #d3d0da;
}

.nft .about {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.nft .about .content {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nft .about .content__image {
  width: 35%;
  height: auto;
  margin-right: 45px;
}
.nft .about .content__image:last-child {
  margin-right: 0;
  margin-left: 45px;
}
.nft .about .content .info {
  max-width: 450px;
}
.nft .about .content .info__label {
  color: #a67fff;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.nft .about .content .info__title {
  margin-top: 10px;
  font-size: 2.85rem;
  font-weight: 700;
}
.nft .about .content .info__description {
  color: #0f051d;
  margin-top: 15px;
}
.nft .about .content .info .advances {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nft .about .content .info .advances-item__number {
  color: #0f051d;
  font-weight: 700;
  font-size: 2rem;
}
.nft .about .content .info .advances-item__text {
  color: #0f051d;
  font-size: 0.9rem;
  margin-top: 15px;
}
.nft .about .content .info .advances .item-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nft .about .content .info .advances .item-image__image {
  padding: 7px;
  border-radius: 10px;
  background-color: #a67fff;
}
.nft .about .content .info .advances .item-image__image img {
  width: 100%;
  height: 100%;
}
.nft .about .content .info .advances .item-image__text {
  color: #0f051d;
  font-size: 0.9rem;
  margin-left: 10px;
}

.nft .works {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.nft .works .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}
.nft .works .cards-item {
  padding: 15px;
  border-radius: 25px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.nft .works .cards-item:nth-child(n+5) {
  margin-top: 25px;
}
.nft .works .cards-item:nth-child(odd) {
  margin-top: 50px;
}
.nft .works .cards-item:nth-child(3), .nft .works .cards-item:first-child {
  margin-top: 25px;
}
.nft .works .cards-item__image {
  width: 244px;
  height: 325px;
}
.nft .works .cards-item__image img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.nft .works .cards-item__tag {
  color: #0f051d;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 15px;
}
.nft .works .cards-item__artist {
  color: #d3d0da;
  margin-top: 10px;
  font-size: 0.7rem;
}
.nft .works__button {
  margin-top: 50px;
}

.nft .roadmap {
  margin-top: 100px;
}
.nft .roadmap .cards {
  margin-top: 50px;
  padding: 25px;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nft .roadmap .cards::-webkit-scrollbar {
  height: 7px;
  width: 4px;
  background: transparent;
}
.nft .roadmap .cards::-webkit-scrollbar-thumb:horizontal {
  background: #a67fff;
  border-radius: 10px;
}
.nft .roadmap .cards .item {
  margin-left: 25px;
  border-radius: 25px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
  padding: 25px;
  min-width: 300px;
}
.nft .roadmap .cards .item:first-child {
  margin-left: 0;
}
.nft .roadmap .cards .item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nft .roadmap .cards .item-top__label {
  color: #a67fff;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.nft .roadmap .cards .item-top__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  background-color: #a67fff;
  height: 45px;
  width: 45px;
}
.nft .roadmap .cards .item-top__circle span {
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}
.nft .roadmap .cards .item__title {
  margin-top: 25px;
  font-weight: 700;
  font-size: 1.5rem;
}
.nft .roadmap .cards .item__description {
  margin-top: 25px;
}
.nft .roadmap .cards .item__divider {
  margin-top: 25px;
  width: 25%;
  border: none;
  border-top: 1px solid #d3d0da;
  border-radius: 1px;
}
.nft .roadmap .cards .item .advantages {
  margin-top: 25px;
}
.nft .roadmap .cards .item .advantages-item {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nft .roadmap .cards .item .advantages-item__icon {
  border-radius: 50%;
  border: 1px solid #a67fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nft .roadmap .cards .item .advantages-item__icon img {
  width: 15px;
  height: 15px;
}
.nft .roadmap .cards .item .advantages-item__text {
  margin-left: 5px;
  font-size: 0.8rem;
}

.nft .artists {
  margin-top: 100px;
}
.nft .artists .cards {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.nft .artists .cards .item {
  padding: 10px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.nft .artists .cards .item:nth-child(even) {
  margin-top: 25px;
}
.nft .artists .cards .item-avatar {
  max-width: 200px;
  max-height: 200px;
  border-radius: 15px;
  overflow: hidden;
}
.nft .artists .cards .item-avatar__image {
  width: 100%;
  height: auto;
}
.nft .artists .cards .item__name {
  color: #0f051d;
  font-weight: 700;
  margin-top: 15px;
}
.nft .artists .cards .item__job {
  color: #d3d0da;
  font-weight: 500;
  font-size: 0.8rem;
  margin-top: 5px;
}
.nft .artists .cards .item-links {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.nft .artists .cards .item-links__icon img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  width: 20px;
  height: 20px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.nft .artists .cards .item-links__icon img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.nft .faq {
  margin-top: 100px;
}
.nft .faq__title {
  text-transform: uppercase;
}
.nft .faq .list {
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 25px;
  padding: 35px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
  width: 50%;
}
.nft .faq .list-item {
  border-bottom: 1px solid #d3d0da;
  margin-top: 15px;
  padding-bottom: 15px;
}
.nft .faq .list-item:last-child {
  border: none;
}
.nft .faq .list-item:first-child {
  margin-top: 0;
}
.nft .faq .list-item__header {
  font-weight: 700;
  font-size: 1.3rem;
}
.nft .faq .list-item__content {
  margin-top: 15px;
  font-size: 0.9rem;
  color: #d3d0da;
}

.nft .join {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.nft .join__eth, .nft .join__circle, .nft .join__btc, .nft .join__x {
  position: absolute;
}
.nft .join__eth {
  width: 40px;
  height: 40px;
  right: 30%;
  top: -5%;
}
.nft .join__btc {
  width: 35px;
  height: 35px;
  left: 30%;
  bottom: 5%;
}
.nft .join__circle {
  width: 20px;
  height: 20px;
  left: 25%;
  top: 5%;
}
.nft .join__x {
  width: 15px;
  height: 15px;
  right: 35%;
  bottom: 5%;
}
.nft .join__title {
  max-width: 300px;
}
.nft .join__button {
  margin-top: 50px;
}
.nft .join__background {
  position: absolute;
  width: 100%;
  left: 0;
  opacity: 0.1;
  z-index: -1;
}

.nft .discover {
  margin-top: 100px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.nft .discover__eth, .nft .discover__circle, .nft .discover__circle2, .nft .discover__x {
  position: absolute;
}
.nft .discover__eth {
  width: 25px;
  height: 25px;
  bottom: 25%;
  left: 25%;
}
.nft .discover__circle {
  width: 15px;
  height: 15px;
  bottom: -25%;
  left: 60%;
}
.nft .discover__circle2 {
  width: 20px;
  height: 20px;
  bottom: -75%;
  left: 30%;
}
.nft .discover__x {
  width: 15px;
  height: 15px;
  right: 25%;
  top: 15%;
}
.nft .discover__description {
  margin-top: 25px;
  max-width: 350px;
  text-align: center;
}
.nft .discover-links {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.nft .discover-links__item img {
  width: 25px;
  height: 25px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.nft .discover-links__item img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.divider {
  border: none;
  border-bottom: 1px solid #d3d0da;
  border-radius: 1px;
}

.footer {
  padding: 25px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__rights {
  color: #d3d0da;
  font-size: 0.8rem;
}
.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-links__policy {
  color: #d3d0da;
  font-size: 0.8rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.footer-links__policy:hover {
  color: #0f051d;
}
.footer-links__terms {
  color: #d3d0da;
  margin-left: 15px;
  font-size: 0.8rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.footer-links__terms:hover {
  color: #0f051d;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, rgb(245, 240, 255)), to(rgb(255, 255, 255)));
  background: linear-gradient(180deg, rgb(245, 240, 255) 25%, rgb(255, 255, 255) 100%);
  width: 100%;
  height: auto;
  font-family: "Space Grotesk", sans-serif;
  overflow-x: hidden;
}

main {
  padding-left: 15px;
  padding-right: 15px;
}
main .nft-divider {
  margin-top: 100px;
  width: 100%;
  height: 15px;
}
main .nft-divider__image {
  display: block;
  margin: 0 auto;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

.wrapper {
  max-width: 1230px;
  margin: 0 auto;
}