.header {
    padding-left: 15px;
    padding-right: 15px;

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;

        &-logo {
            color: $dark-color;
            font-weight: 700;
            font-size: 1.7rem;
        }

        &-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__item {
                color: $dark-color;
                cursor: pointer;
                font-weight: 500;
                font-size: 1.1rem;
                margin-left: 45px;

                &:hover {
                    opacity: .5;
                    transition: .8s;
                }

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}